<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mmadapps.fairpriceshop">

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="false"
        android:requiresSmallestWidthDp="600"
        android:smallScreens="false"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH"></uses-permission>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <action android:name="android.intent.action.PHONE_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:name=".main.FPSApplication"
        android:allowBackup="true"
        android:allowClearUserData="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:vmSafeMode="true">
        <activity
            android:name=".SplashScreen"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.LoginScreenActivity"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".main.HomeActivity"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".issueration.IssueRationActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".commoditydetails.CommodityDetailsActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".aadharseeding.AadharSeedingActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".complaintbooking.ComplaintBookingActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".reports.ReportFragmentActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".fieldinspection.FieldInspectionActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".posprinter.FPSAadharSeedingPrinter"
            android:screenOrientation="portrait" />
        <activity
            android:name=".posprinter.FPSSalesReceiptPrinter"
            android:screenOrientation="portrait" />
        <activity
            android:name=".posprinter.FPSCommodityPrinter"
            android:screenOrientation="portrait" />
        <activity
            android:name=".stockbalancereport.StockBalanceActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".userpreferences.UserPreferencesActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" />
        <!-- <service
             android:name=".services.FPSVpnService"
             android:permission="android.permission.BIND_VPN_SERVICE">
             <intent-filter>
                 <action android:name="android.net.VpnService" />
             </intent-filter>
         </service>-->

        <!-- SMS -->

        <receiver android:name=".sms.SMSReceiver">
            <intent-filter>
                <action android:name="SEND_SMS" />
            </intent-filter>
        </receiver>

        <!-- EPSON PosPrinter -->

        <activity
            android:name=".posprinter.MainActivity"
            android:label="@string/app_title"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>
            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>
        <activity
            android:name=".posprinter.DiscoveryActivity"
            android:label="@string/app_title"
            android:screenOrientation="portrait"></activity>

    </application>

</manifest>
